vendredi/lesbd/node-red/flows.json
[{"id":"dea51248.f24e1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5499787.3387e","type":"inject","z":"dea51248.f24e1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":80,"wires":[["d58afd83.d525d8"]]},{"id":"d58afd83.d525d8","type":"debug","z":"dea51248.f24e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":180,"wires":[]},{"id":"d2f91226.5cc898","type":"function","z":"dea51248.f24e1","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":460,"wires":[[]]},{"id":"4c1a848c.b9c6f4","type":"status","z":"dea51248.f24e1","name":"","scope":null,"x":550,"y":240,"wires":[["d2f91226.5cc898"]]}]